<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap CSS -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
      <% if(datafound) {%> <%items.forEach((item, index) => {%>
      <div class="col">
        <div class="card h-100">
          <div class="card-header d-flex align-items-center">
            <img
              src="https://plus.unsplash.com/premium_photo-1664303028333-80fef943aea5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHNhZCUyMGRvZ3xlbnwwfHwwfHx8MA%3D%3D"
              alt="Profile Picture"
              class="rounded-circle me-3"
              style="width: 40px; height: 40px"
            />
            <div>
              <p class="card-text mb-0">
                <strong class="text-muted"><%= item.location %></strong>
              </p>
              <p class="card-text mb-0">
                <% let postDate = new Date(item.createDate); let currentDate =
                new Date(); let diffTime = Math.abs(currentDate - postDate); let
                diffHours = Math.ceil(diffTime / (1000 * 60 * 60)); let diffDays
                = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); let minutes =
                Math.floor((diffTime % (1000 * 60 * 60)) / (1000 * 60)); %> <%
                if(diffDays > 1) { %>
                <small class="text-muted"
                  >Created by <strong><%= item.username %></strong> <%= diffDays
                  %> days ago
                </small>
                <% } else if (diffHours > 1) { %>
                <small class="text-muted"
                  >Created by <strong><%= item.username %></strong> <%=
                  diffHours %> hours ago
                </small>
                <% } else { %>
                <small class="text-muted"
                  >Created by <strong><%= item.username %></strong> <%= minutes
                  %> minutes ago
                </small>
                <% } %>
              </p>
            </div>
          </div>
          <div
            id="carouselExampleControls-<%= index %>"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <% item.content.media_location.forEach((element, idx) => { %>
              <div class="carousel-item <%= idx === 0 ? 'active' : '' %>">
                <img
                  src="/uploads/<%= element %>"
                  class="d-block w-100"
                  alt="..."
                  style="width: 100%; height: 200px; object-fit: cover"
                />
              </div>
              <% }) %>
            </div>
            <% if (item.content.media_location.length > 1) { %>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls-<%= index %>"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls-<%= index %>"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
            <% } %>
          </div>

          <div class="card-body">
            <h5 class="card-title"><%= item.title %></h5>
            <div id="artical-text-<%= index %>"></div>
            <script>
              document.addEventListener("DOMContentLoaded", function () {
                // The rich text content passed from the server
                let richTextContent = <%- JSON.stringify(item.content.text) %>; // Ensure `item.content.text` is correctly escaped as a string
                console.log(richTextContent);
                const maxChar = 1000;
                if (richTextContent.length > maxChar) {
                  richTextContent =
                    richTextContent.substring(0, maxChar) + "...";
                }

                const tempElement = document.createElement("div");
                tempElement.innerHTML = richTextContent;

                const textContent =
                  tempElement.textContent || tempElement.innerText;

                // Display the text content
                document.getElementById("artical-text-<%= index %>").innerHTML =
                  "<p>" + textContent + "</p>";
              });
            </script>

            <p class="card-text">
              <strong>Tags</strong> <% item.tags.forEach((tag) => { %> #<%= tag
              %> <% }) %>
            </p>
            <div class="card-footer">
              <% let updateDate = new Date(item.updateDate); let update_diffTime
              = Math.abs(currentDate - updateDate); let update_diffHours =
              Math.ceil(update_diffTime / (1000 * 60 * 60)); let update_diffDays
              = Math.ceil(update_diffTime / (1000 * 60 * 60 * 24)); let
              updated_minutes = Math.floor((update_diffTime % (1000 * 60 * 60))
              / (1000 * 60)); %>
              <p class="card-text">
                <% if(update_diffDays > 1) { %>
                <small class="text-muted"
                  >Updated post <%= update_diffDays %> days ago
                </small>
                <% } else if (update_diffHours > 1) { %>
                <small class="text-muted"
                  >Updated post <%= update_diffHours %> hours ago
                </small>
                <% } else { %>
                <small class="text-muted"
                  >Updated post <%= updated_minutes %> minutes ago
                </small>
                <% } %>
              </p>
              <div class="container mt-5">
                <form action="/post/getPost" method="GET">
                  <div class="input-group">
                    <input
                      type="text"
                      id="myInput"
                      name="post_id"
                      class="form-control"
                      value="<%= item.post_id %>"
                      style="visibility: hidden"
                    />
                    <button type="submit" class="btn btn-info form-control">
                      View Post
                    </button>
                  </div>
                </form>
              </div>
              <% if(pageType === "personal") { %>
              <div class="container mt-5">
                <form action="/post/deleteUserPost" method="POST">
                  <div class="input-group">
                    <input
                      type="text"
                      id="myInput"
                      name="post_id"
                      class="form-control"
                      value="<%= item.post_id %>"
                      style="visibility: hidden"
                    />
                    <button type="submit" class="btn btn-danger form-control">
                      Delete Post
                    </button>
                  </div>
                </form>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <% }) %> <% } else { %>
      <div class="container text-center my-5">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <img
              src="https://plus.unsplash.com/premium_photo-1664303028333-80fef943aea5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHNhZCUyMGRvZ3xlbnwwfHwwfHx8MA%3D%3D"
              alt="Sad Dog"
              class="img-fluid mb-4 rounded-pill"
            />
            <h2 class="mb-3">Oops! No Data Found</h2>
            <p class="lead">It seems like there are no posts available.</p>
            <p class="lead mb-4">Why not be the first to share something?</p>
            <a href="/createNewPost" class="btn btn-primary">Create New Post</a>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </body>
</html>
